@model IEnumerable<Asp_ADO.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearMaking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category.CatName)*@
            Category Name
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}",item.yearMaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*if(item.CatName != null){
                @item.Category.CatName
                }*@
                @Html.DisplayFor(modelItem => item.Category.CatName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProId }, new { @class = "btn btn-sm btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProId }, new { @class = "btn btn-sm btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProId },
                new { onclick = "return confirm('Bạn có chắc chắn muốn xóa không?')" })
            </td>
        </tr>
    }

</table>
