@model IEnumerable<Asp_ADO.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Category Id
        </th>
        <th>
            Category Name
        </th>
        <th>
            Status
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CatId
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CatId }, new { @class="btn btn-info btn-sm"}) |
                @Html.ActionLink("Details", "Details", new { id = item.CatId
                },new { @class= "btn btn-sm btn-success"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CatId },
                new { onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');" })
            </td>
        </tr>
            }

</table>
